* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Сброс стандартных отступов*/
}

:root {
    --stone-50: #fafaf9;
    /* Светло-серый фон */
    --stone-700: #44403c;
    /* Тёмно-серый текст */
    --stone-900: #1c1917;
    /* Чёрный для акцентов */
    --flame: #dc2626;
    /* Красный - страсть */
    --ember: #ea580c;
    /* Оранжевый - энергия */
    --spark: #eab308;
    /* Жёлтый - интеллект */
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--stone-700);
    background-color: var(--stone-50);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.accent-flame {
    color: var(--flame);
    /* Используется для важных кнопок, цитат */
}

.accent-ember {
    color: var(--ember);
    /* Для второстепенных акцентов */
}

.hover-spark:hover {
    color: var(--spark);
    transition: 0.3s;
    /* Для интерактивных элементов */
}

header,
section,
footer {
    background: #f4f4f4;
    margin: 20px 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.avatar {
    border-radius: 5%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

.about_text h1 {
    margin: 0 0 10px 0;
    /* Убираем стандартные отступы */
}

.about_text p {
    margin: 0;
    color: #666;
}

.skills ul {
    list-style: none;
}

.skills li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.skills li:hover {
    background: var(--stone-700);
    color: var(--spark);
    transform: translateX(5px);
    transition: all 0.3s ease;
}

h1,
h2 {
    color: #44403c;
    margin-bottom: 15 px;
}


/* Для мобильных устройств */
@media (max-width=600px) {
    body {
        padding: 10px;
    }

    header,
    section,
    footer {
        padding: 20px;
        margin: 10px 0;

    }
}